/* xs */
/* @media (max-width:575px){
    .web-item{
        width:100%
    }
} */
/* sm */
@media (min-width: 576px){
    .container {
    max-width: 100%; /* تغيير العرض الأقصى */
    padding-right: 20px;
    padding-left: 20px;
}
    
    .sm-100{
        width:100%
    }

    .sm-50{
        width:50%;
    }

    .sm-33{
        width:33.33%;
    }

    .sm-25{
        width:25%
    }

}
/* md	 */
@media (min-width: 768px){
   .sign-in{
    width: fit-content;
   }

   

   .m-100{
        width:100%
    }

    .m-50{
        width:50%;
    }

    .m-33{
        width:33.33%;
    }

    .m-25{
        width:25%
    }

   

}
/* lg	 */
@media (min-width: 992px)  
{

    .container{
        max-width: 90%;
    }

    .our-game::after{
        transform: translateX(20%);
    }

    .our-game::before{
        transform: translateX(-120%);
    }

    .lg-100{
        width:100%
    }

    .lg-50{
        width:50%;
    }

    .lg-33{
        width:33.33%;
    }

    .lg-25{
        width:25%
    }
   
}	
/* xl	 */
@media (min-width: 1200px){

  h1{
     font-size: 60px;
  }
  
   .xl-100{
        width:100%
    }

    .xl-50{
        width:50%;
    }

    .xl-33{
        width:33.33%;
    }

    .xl-25{
        width:25%
    }
    

}
/* xxl	 */
@media (min-width: 1400px)	{
   

    
    .xxl-100{
        width:100%
    }

    .xxl-50{
        width:50%;
    }

    .xxl-33{
        width:33.33%;
    }

    .xxl-25{
        width:25%
    }
}

